PORT=5000
FRONTEND_URL=http://localhost:3000
NODE_ENV=development
HF_API_TOKEN=
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4.1
MAX_TOKENS=1000
TEMPERATURE=0.7
GEMINI_API_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
